.viewTable {
  border: 11px;
  /*margin-top: 100px;*/ /*見やすさを考慮し、画面上部に空間を入れる*/
  /*width: 100%;*/       /*画面の横幅を最大に設定*/
}

.viewTable,.viewTable tr,.viewTable td{
  border-collapse: collapse;
  border:1px solid #333;
  padding:5px 5px 5px 5px;
}

/*
.viewTable td{

}
*/